page-home {

}

.toolbar-background,.toolbar-title,.bar-button {
    background-color:#488aff;
    color: map-get($colors,danger);
}

.bar-buttons{
  font-size: 25px;
    color: rgb(241, 243, 240);
}
.toolbar-title{
   font-size: 20px;
   color:rgb(253, 255, 246);
}


// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the element in the app.


/// Check the browser supports column-count property
/// the containing style rules will only be triggered on browsers
/// that offer support for this feature
@supports (column-count: 2) {
   .wrapper {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
      -moz-column-gap: 0.5em;
      -webkit-column-gap: 0.5em;
      column-gap: 0.5em;
      


      section {
   	    width: 100%;
   	    margin: 0 -2em -2em 0;
   	     padding: 0.7em;
   	     display: inline-block;
        color: rgb(34, 236, 16);
        //text-align: center;
       // -moz-box-sizing: border-box;
        //-webkit-box-sizing: border-box;
        box-sizing: border-box;

        img {
           display : block;
			margin: 0 auto 1em auto;
           width: 100%;
        }
      }
   }


   /// Define 4 column count for screen sizes up to 1200 pixels in width
   @media only screen and (max-width: 1200px) {
      .wrapper {
         -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
      }
   }


   /// Define 3 column count for screen sizes up to 900 pixels in width
   @media only screen and (max-width: 900px) {
      .wrapper {
         -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
      }
   }


   /// Define 2 column count for screen sizes up to 800 pixels in width
   @media only screen and (max-width: 800px) {
      .wrapper {
   	     -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
      }
   }


   /// Define 1 column count for screen sizes up to 600 pixels in width
   @media only screen and (max-width: 600px) {
      .wrapper {
         -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
         -moz-column-gap: 0;
         -webkit-column-gap: 0;
         column-gap: 0;
      }
   }
}


@supports not (column-count: 2) {
   .wrapper {
      width: 100%;

      section {
        display: inline-block;
        vertical-align: top;
      }
   }


   @media only screen and (max-width: 1200px) {
      .wrapper {
         section {
   	       width: 19.25%;
         }
      }
   }


   @media only screen and (max-width: 1000px) {
      .wrapper {
         section {
   	       width: 25%;
         }
      }
   }


   @media only screen and (max-width: 800px) {
      .wrapper {
         section {
   	       width: 33%;
         }
      }
   }


   @media only screen and (max-width: 600px) {
      .wrapper {
         section {
   	       width: 50%;
         }
      }
   }


   @media only screen and (max-width: 450px) {
      .wrapper {
         section {
   	       width: 100%;
         }
      }
   }
}